.list {
  padding-top: 1rem;
  background-color: #ebebeb;

  .card {
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: solid 5px white;
    display: flex;
    margin: 0.5rem;
    border-radius: 0.5rem;
    justify-content: space-between;

    .detalle {
      position: relative;
      align-items: flex-start;
      padding: 0 2.8rem 0 0;

      .btnDelete {
        position: absolute;
        top: 0;
        right: 3.5px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        background-color: #5252521b;
        border-radius: 2rem;

        svg {
          margin: 1px;
        }
      }

      .name {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.7rem;
        color: rgb(8, 1, 137);
        //  line-height: 1.8125rem;
        //  font-family: Poppins, BlinkMacSystemFont, Roboto, sans-serif;
      }
      .price {
        font-size: 1em;
        color: #fd384f;
        font-weight: 600;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      p {
        font-size: 18px;
        font-weight: 600;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    img {
      width: 6rem;
      max-height: 6rem;
      object-fit: cover;
      object-position: center center;
      border-radius: 0.5rem;
      aspect-ratio: 1/1;
    }
  }
}
